<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>
       <%= title%>
     </title>

    <!--vendors styles-->
   	 
    <!--===============================================================================================-->	
	     <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
	     <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    	 <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
	     <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    	 <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->	
    	 <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
	     <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
	     <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
     	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->

    <!-- Bootstrap CSS / Color Scheme -->
      <link rel="stylesheet" type="text/css" href="/css/login1.css">
      <link rel="stylesheet" type="text/css" href="/css/login2.css">
    <!--===============================================================================================-->
</head>
<body>
	   <!--ADD Contact Form-->
	   <div class="limiter">
		   <div class="container-login100">
			   <div class="wrap-login100 py-4">
            <form id ="contact-form" action ="/show_contact" method="POST"> 
                <div class="wrap-input100 validate-input " data-validate = "Enter Name">
                  <input class="input100" type="text" name="name" required>
                  <span class="focus-input100" data-placeholder="Name" ></span>
                </div>
          
                <div class="wrap-input100 validate-input"  data-validate = "must be of 10 digits">
                  <input class="input100" type="tel"  name="phone" maxlength="10" pattern="\d{10}"required>
                  <span class="focus-input100" data-placeholder="Phone"></span>
                </div>
                <div class="wrap-input100 validate-input"  data-validate = "Valid email is: a@b.c">
                  <input class="input100" type="email" name="email" >
                  <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <input type="hidden" name="userid" value="<%=user.id%>">

                <div class="wrap-input100 validate-input" data-validate="Location">
                  <input class="input100"  type="text" name="add" required>
                  <span class="focus-input100" data-placeholder="Address"></span>
                </div>
      
                <div class="wrap-input100 validate-input" data-validate="dob">
                   <input  class="input100" type="date" name="dob" >
                   <span class="focus-input100" ></span>
                </div>
      
                <div class="wrap-input100 validate-input" data-validate = "Relation">
                  <select input class="input100" name="relation">Relationship
                     <option value="Family">Family</option>
                     <option value="Friend">Friend</option>
                     <option value="Colleague">Colleague</option>
                     <option value="ICE-emergency contact">ICE-emergency contact</option>
                     <option value="Other">Other</option>
                  </select>
                  <span class="focus-input100"  ></span>
                </div>
                <div class="container-login100-form-btn py-0">
                  <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" style="background-color:#29d6a9 !important;">
                      Save
                    </button>
                  </div>
                </div>
                
                <div class="text-center p-t-136" style="padding-top: 25px !important;">
                    <a class="txt2" href="/home">
                      Go to homepage
                     <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
			    </div>
	      </div>
      </div>
	  <div id="dropDownSelect1"></div>
	
    <!--===============================================================================================-->
	     <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
     	 <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    	<script src="/vendor/bootstrap/js/popper.js"></script>
    	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    	<script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
	    <script src="/vendor/daterangepicker/moment.min.js"></script>
	    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    	<script src="/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
       <script src="/js/login.js"></script>

  </body>
</html>