<html>
    <head>
        <title>
            <%=title%>
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Union is a beautiful Bootstrap 4 template for multipurpose landing pages." /> 

        <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/default.css" id="theme-color">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light  fixed-top sticky-navigation" style="background-color:#29d6a9 !important;">
            <a class="navbar-brand mx-auto text-white" href="index.html">
                Contact Diary
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" 
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span data-feather="grid"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll text-white" href="#about">About</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link page-scroll text-white" href="#process">Process</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll text-white" href="/user/sign-up">Sign Up</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll text-white" href="/user/sign-in">Log In</a>
                    </li>
                    
                </ul>
            </div>
        </nav>

        <!--hero header-->
        <section class="pt-7 pt-md-8" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto my-auto text-center ">
                        <h1>Stay Connected with your people</h1>
                        <p class="lead mb-0 mt-3 ">
                           Thinking about someone..... Wanna call or wanna text!!!  Now here just save ur people and reach them in no time
                       </p>
                        <p class="my-0">
                                <img  class="img-fluid text-center mt-0" src="/images/img/img-03.jpg" alt="Calling"/>
                        </p>
                    </div>                        
                </div>     
            </div>
        </section>

        <!----Process Section-->
        <section class="pt-0 pb-3 my-0" id="process">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto text-center">
                        <h2>How you can use our website</h2>   
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-7 mx-auto timeline">
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                    <span data-feather="user-plus"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Create ur account</h5>
                                <p class="text-muted">Create your account and verify your account to use our website</p>
                            </div>
                        </div>
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                    <span data-feather="aperture"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Sign In</h5>
                                <p class="text-muted">Login to use our website and get more benefits</p>
                            </div>
                        </div>
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                    <span data-feather="phone-incoming">
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Create Contact </h5>
                                <p class="text-muted">Let's create contact and save it </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                    <span data-feather="aperture"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Access it from anywhere</h5>
                                <p class="text-muted">Use our website from anywhere through internet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       <!---Footer start-->
        <footer class="mt-6 bg-light">
          <div class="container">
              <div class="row ">
                  <div class="col-md-6 mx-auto text-center">
                      <p class="text-bold small text-uppercase  mt-4">
                          Follow us on social media
                      </p>
                      <ul class="list-inline social social-dark social-sm">
                          <li class="list-inline-item">
                              <a href="https://www.instagram.com/aditi.tomar.24/"><i class="fa fa-instagram pt-2"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://github.com/Aditi-247"><i class="fa fa-github  pt-2"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="mailto:diraycontactbook@gmail.com?subject=Mail from our Website"><i class="fa fa-google-plus  pt-2"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://www.linkedin.com/in/adititomar24/"><i class="fa fa- fa-linkedin pt-2"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="row mt-5">
                  <div class="col-12 text-bold text-center small-xl">
                      <!-- &copy; 2022 Contact Diary - All Rights Reserved -->
                      <p style="font-weight: bold;" class="m-0">Copyright &copy; 2022 <a href="/" class="text-dark">Contact Diary</a>. All rights reserved.</p>
                  </div>
              </div>
          </div>
      </footer>

      <div class="scroll-top">
          <i class="fa fa-angle-up" aria-hidden="true"></i>
      </div>

      <!--LINK START--->

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
        
        <script src="js/scripts.js"></script>
    </body>
</html>